<div>
  <h3>Account</h3>
  <ul>
    <li><a href="https://dh.centurylink.com/billing">View or Pay My Bill</a></li>
    <li><a href="https://www.centurylink.net/">Check My Email</a></li>
    <li><a href="https://www.centurylink.com/moving/">Move My Services</a></li>
  </ul>
  <h3>Shop</h3>
  <ul>
    <li><a href="https://www.centurylink.com/internet/">Internet</a></li>
    <li><a href="https://www.centurylink.com/tv/">TV</a></li>
    <li><a href="https://www.centurylink.com/phone/">Phone</a></li>
    <li><a href="https://www.centurylink.com/accessories/">Accessories</a></li>
  </ul>
  <h3>Support</h3>
  <ul>
    <li><a href="https://www.centurylink.com/home/help/account.html">Account &amp; Billing</a></li>
    <li><a href="https://www.centurylink.com/home/help/internet.html">Internet Support</a></li>
    <li><a href="https://www.centurylink.com/home/help/television.html">TV Support</a></li>
    <li><a href="https://www.centurylink.com/home/help/home-phone.html">Phone Support</a></li>
    <li><a href="https://dssr.centurylink.com/digicustcare/sts">Request a Repair</a></li>
  </ul>
  <h3>My CenturyLink</h3>
  <ul>
    <li><a href="https://dh.centurylink.com">My Home</a></li>
    <li><a href="https://mm-signin.centurylink.com/">Sign In</a></li>
    <li><a href="https://dh.centurylink.com/login/accountEnrollment">Enroll</a></li>
    <li><a href="https://www.centurylink.com/home/help/contact.html">Contact Us</a></li>
  </ul>
</div>
<div>
  <ul>
    <li><a href="https://www.lumen.com/en-us/about.html">About Lumen</a></li>
    <li><a href="https://www.centurylink.com/aboutus.html">About CenturyLink</a></li>
    <li><a href="https://jobs.lumen.com/">Careers</a></li>
    <li><a href="https://ir.lumen.com/">Investor Relations</a></li>
    <li><a href="https://news.lumen.com/">Newsroom</a></li>
    <li><a href="https://www.centurylink.com/aboutus/legal/">Legal</a></li>
    <li><a href="https://www.centurylink.com/aboutus/legal/privacy-notice.html">Privacy Notice</a></li>
    <li><a href="https://www.centurylink.com/aboutus/legal/tariff-library.html">Tariffs</a></li>
    <li><a href="https://www.centurylink.com/sitemap.html">Site Map</a></li>
  </ul>
</div>
<div>
  <p><strong>&copy; 2026 CenturyLink. All Rights Reserved.</strong></p>
</div>
