<div>
  <p><a href="/"><span class="icon icon-logo"></span>CenturyLink</a></p>
</div>
<div>
  <ul>
    <li>
      <p><a href="https://www.centurylink.com/home/internet.html">Internet</a></p>
    </li>
    <li>
      <p><a href="https://www.centurylink.com/home/tv.html">TV</a></p>
    </li>
    <li>
      <p><a href="https://www.centurylink.com/home/phone.html">Phone</a></p>
    </li>
    <li>
      <p><a href="https://www.centurylink.com/home/accessories.html">Accessories</a></p>
    </li>
    <li>
      <p><a href="https://www.centurylink.com/home/fiber.html">Fiber</a></p>
    </li>
    <li>
      <p><a href="https://www.centurylink.com/home/help.html">Support</a></p>
    </li>
  </ul>
</div>
<div>
  <p><a href="/tools/widgets/toggle"><span class="icon icon-toggle"></span>Menu</a></p>
  <p><a href="https://dh.centurylink.com/">Sign In</a></p>
</div>
