/* Columns Compare Block - CenturyLink CTA strip / comparison */

.columns-compare-container .columns-compare-wrapper {
  max-width: unset;
  padding: 0;
}

.columns-compare-container {
  padding: 0;
}

.columns-compare {
  background-color: var(--color-gray-100);
  text-align: center;
  padding: 24px;
}

.columns-compare > div {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
  max-width: 1200px;
  margin: 0 auto;
}

.columns-compare > div > div {
  order: 1;
}

.columns-compare > div > .columns-compare-img-col {
  order: 0;
}

.columns-compare img {
  width: 100%;
  height: auto;
}

.columns-compare > div > .columns-compare-img-col img {
  display: block;
}

.columns-compare h2 {
  color: var(--color-brand-blue);
}

.columns-compare p {
  line-height: 1.5;
  font-size: var(--body-font-size-l);
  color: var(--color-brand-blue);
  margin: 0;
}

.columns-compare p:last-child {
  font-size: var(--body-font-size-s);
  color: var(--color-gray-600);
}

.columns-compare a {
  color: var(--color-brand-blue);
}

@media (width >= 900px) {
  .columns-compare > div {
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: var(--spacing-xxl);
  }

  .columns-compare > div > div {
    flex: none;
    order: unset;
  }
}
